<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                
            </div>
        </div> 
        <div class="footer_section_2">
            <p style="color: aliceblue;">Email : nguyenbuiminhduc101101hii@gmail.com </p>
            <p style="color: aliceblue;">Address : 15/34a street number 9, ward 16, go vap district, HCM city </p>
            <p style="color: aliceblue;">Phone : 090278343634</p>
            <p style="color: aliceblue;">facebook: https://www.facebook.com/profile.php?id=100005268617511</p>
        </div>
    </div>
</div>

<div class="copyright">2023 All Rights Reserved. <a href="#"></a></div>