<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>About</title>
      <link rel="stylesheet" href="./css/style.css">

    

   </head>
   <!-- body -->
   <body class="main-layout">
	<!-- header section start -->
	<%- include('../partials/navbar'); %>
   <!-- header section end -->

      <!-- contact section start -->
    <div class="collection_text">About</div>
    <div class="layout_padding contact_section">
        <h1>BÁN GIÀY THỂ THAO SNEAKER CHÍNH HÃNG TẠI TPHCM - KING SHOES GIỚI THIỆU</h1>
        <p>Nỗi sợ vì mua phải giày kém chất lượng, giày fake, từ nay không còn lo lắng nữa vì đã có #KINGSHOES.VN: hàng chính hãng nhập trực tiếp từ US, fullbox, nguyên tem.</p>
        <p>👑 KINGSHOES.VN ✓15 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng.!!!</p>
        <p>Đến với "KINGSHOES.VN” quý khách hàng sẽ có những sản phẩm ưng ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những “ Chương Trình Khuyến Mãi Đặc Biệt”.</p>
        <p>⚡️ KINGSHOES.VN ✓15 Ngày Đổi Hàng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng ✓Bảo Hành Hàng Chính Hãng Trọn Đời.!!!

            KINGSHOES.VN "You're King In Your Way".!!!   
          
          KING'S & QUEEN'S Check in Tại KINGSHOES.VN
          
          192/2 Nguyễn Thái Bình, phường 12, quận Tân Bình, thành phố Hồ Chí Minh
          
          Đến với "KINGSHOES.VN” quý khách hàng sẽ có những sản phẩm ưng ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những “ Chương Trình Khuyến Mãi Đặc Biệt”.</p>

    </div>
   	<!-- contact section end -->
	<!-- section footer start -->
   <%- include('../partials/footer'); %>

 
	<!-- section footer end -->

   <script src="/js/jquery.min.js"></script>

   <script src="/js/addtocart.js"></script>
   
   <script src="/js/countproducttocart.js"> </script> 
      <!-- Javascript files-->
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/includehtml.js"></script>
        <script>
        includeHTML();
        </script>
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>
